/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html, .tui-editor-contents {
	font-family: 'LotteMartDream', sans-serif !important;
	text-decoration:none !important;
}

/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html {
	font-family: 'LotteMartDream', sans-serif;
}
/* 폰트 */
/* 노말라이즈 */
body, ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
/* 노말라이즈 */
/* 라이브러리 */
.con-min-width {
	min-width: 1200px;
}

.con {
	width: 1200px;
	margin: 0 auto;
}

.border-1 {
	border: 1px solid white;
}

.border-2 {
	border: 2px solid white;
}

.bg-black {
	background-color: black;
}

.bg-gold {
	background-color: gold;
}

.bg-blue {
	background-color: blue;
}

.bg-red {
	background-color: red;
}

.bg-gray {
	background-color: #afafaf;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-jc-c{
	justify-content:center;
}

.flex-grow-1{
  flex-grow:1;
}

.none {
	display:none;
}
/* 라이브러리 */
/* 미디어 */
@media(min-width:1000px) and (max-width:1200px) {
  .con {
    min-width:1200px;
}
}
@media(min-width:800px) and (max-width:999px) {
  .con {
    min-width:1000px;
}
}
@media(min-width:600px) and (max-width:799px) {
  .con {
    min-width:800px;
}
}
@media(min-width:400px) and (max-width:599px) {
  .con {
    min-width:600px;
}
}
@media(min-width:200px) and (max-width:399px) {
  .con {
    min-width:400px;
}
}
@media(min-width:0px) and (max-width:199px) {
  .con {
    min-width:200px;
}
}
/* 미디어 */
/* 바디 */
body {
	overflow-x: hidden;
}

.body-content {
	background-color: black;
	min-height: 100vh;
	color: white;
}
/* 바디 */
/* 탑 로고 */
.top-bar > .logo{
  border-top:2px solid white;
  border-bottom:2px solid white;  
  height:170px;
}

.logo{
  display:flex;
  color:white;
  justify-content:center;
  align-items:center;
  font-size:3rem;
}

.logo > i:nth-of-type(2){
  font-size:1rem;
  margin-left:5px;
  margin-right:10px;
  margin-top:-20px;
}

.top-bar > .logo > i:nth-of-type(3){
  font-size:3.2rem;
}

.logo> span{
  margin-left:20px;
}


.logo>span>span {
	color: #afffff;
}
/* 탑 로고 */
/* 사이드 바 */
.side-bar{
  z-index:10;
  width:300px;
  height:100vh;
  position:fixed;
  right:-230px;
  transition:all 0.3s;
  box-sizing:border-box;
}

.side-bar:hover{
  right:-1px;
}

.side-bar > * {
  color:white;
}

.side-bar__arrows > span {
  margin:12px;
  font-size:2.5rem;  
  margin-right:auto;
}

.side-bar:hover > .side-bar__arrows > span:first-child {
  display:none;
}

.side-bar__arrows > span:nth-child(2)  {
  display:none;
}

.side-bar:hover > .side-bar__arrows > span:nth-child(2) {
  display:block;
}

.side-bar__menu {
	flex-direction: column;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.side-bar__menu>ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}


.side-bar__menu > ul > li {
  display:flex;
  justify-content:center;
  position:relative;
}

.side-bar__menu ul > li {
  transition:all 0.3s;  
}

.side-bar__menu ul>li:hover {
	background-color: white;
	color: black;
}

.side-bar__menu ul > li > a {
  text-align:center;
  font-size:1.1rem;
  padding:40px 0;
  width:100%;
}

.side-bar__menu ul ul {
	display: none;
}

.side-bar__menu>ul>li:hover>ul {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: -1px;
	right: 100%;
	color: white;
	border: 1px solid white;
	border-right: 0;
	box-sizing: border-box;
	width: 100%;
}

.side-bar__menu>ul>li:hover>ul>li {
	display: flex;
	width: 100%;
	justify-content: center;
}

.side-bar__menu ul>li>a {
	margin-left: 10px;
}

.side-bar__icon {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	margin: 30px 0;
}

.side-bar__icon>i:nth-child(2) {
	font-size: 1rem;
	margin-left: 3px;
	margin-right: 10px;
}

.side-bar__tail {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-bar__tail>i {
	font-size: 5rem;
}
/* 사이드 바 */
/* 타이틀 바 */
.title-bar {
	background-color: black;
	color: white;
}

.title-bar__logo {
	border-bottom: 2px solid white;
	font-size: 1.5rem;
	padding: 20px;
	justify-content: space-between;
}
/* 타이틀 바 */
/* 바텀 바 */
.bottom-bar {
	padding-top:20px;
}

.bottom-bar>.con {
	padding: 20px 0;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	justify-content:center;
}

.bottom-bar__site-info {
	padding: 0 20px;
	align-items: center;
}

.bottom-bar__site-info>.logo {
	white-space: nowrap;
	font-size: 2rem;
}

.bottom-bar__site-info>.info {
	margin-left: 20px;
}

.bottom-bar__site-info > .logo > i:nth-of-type(3){
  font-size:2.3rem;
}

.logo>span>span{
	color: #afffff;
}
/* 바텀 바 */
/* 메인 */
.main{
  flex-grow:1;
  display:flex;
  flex-direction:column;
}

.main > .con {
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

.main > .con > .content{
  margin-top:20px;
  padding:20px;  
  padding-bottom:30px;
  background-color:white;
  color:black;
  border-radius:10px;  
}

.latest-articles{
  width:100%;
}

.latest-articles > h2{
  padding-bottom:10px;
  border-bottom:3px double;
}

.latest-articles > div > span{
  display:inline-block;
  width:10%;
  padding:5px 0;
}

.latest-articles > div > span:nth-child(2){
  width:30%;
}
/* 메인 */
/* 게시물 리스트 시작 */
.article-list>ul {
	padding: 14px 0;
	border-bottom: 1px solid black;
}

.article-list>ul:hover:not(:first-child){
  background-color:black;
  color:white;
  opacity:0.7;
}

.article-list>ul>li {
	width: 10%;
	text-align: center;
}

.article-list>ul>li:first-child {
	width: 5%;
}

.article-list>ul>li:nth-child(2) {
	width: 15%;
}

.article-list>ul>li:nth-child(5) {
	width: 5%;
}

.article-list>ul>li:nth-child(6) {
	width: 5%;
}

.article-list>ul:first-child>li:not(:last-child){
	border-right:1px solid black;
}
.article-list>ul>li:nth-of-type(4) {
	flex-grow: 1;
}

.article-list>ul:not(:first-child ) >li:nth-of-type(4) > a:hover{
	text-decoration: underline;
}

.list-page>ul>li>a {
	display: block;
	padding: 10px;
	margin-bottom:10px;
	border: 1px solid transparent;
}

.list-page>ul>li:hover:not(:first-of-type ):not(:last-of-type ) >a {
	border-color:#afafaf;
}
/* 게시물 리스트 끝 */
/* 게시물 상세 시작 */
.article-detail {
	background-color:white;
	color:black;
	margin:20px 0;
	border-radius:10px;
	padding:0 20px;
}

.article-detail>* {
	padding: 20px 0;
}

.article-detail>*:not(:last-of-type){
	border-bottom:1px solid black;
}
.article-detail__title {
	font-weight: bold;
	font-size: 1.2rem;
}

.article-detail__sub-info>* {
	margin-right: 10px;
}

.article-detail__menu>* {
	margin-right: 10px;
}

.article-detail__menu>*:hover {
	text-decoration: underline;
}
/* 게시물 상세 끝 */
/* 통계 */
.stat {
  flex-direction:column;
}
.stat > ul{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content:center;
  border-top:1px solid;
  border-bottom:1px solid;
  margin:0 20px;
  margin-top:10px;
  padding-bottom:15px;
}

.stat > ul > li {
  display:block;
  width:100%;
  justify-content:space-around;
  font-size:1.1rem;
  text-align:center;
}

.stat > ul > li > span {
  display:inline-block;
  width:30%;
  text-align:center; 
  padding:15px 0;
}

.stat > ul > li:first-child > span{
  width:100;
}

.stat > ul > .total {
  font-weight:bold;
}
/* 통계 */